body{
    margin: 0;
    width: 100%;
    height: 100%;    
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

}
#app{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    padding: 24px;
    gap: 24px;
}
.note{
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 20px;
    resize: none;
    font-size: 22px;
    font-family: varela;
    background-color: #ebf4f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}
.add-note{
    height: 300px;
    width: 300px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0.1);
    border: none;
    font-size: 120px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: background 0.2s;
}
.add-note:hover{
    background: rgba(0, 0, 0, 0.2);
}